<ion-header class="ff7-header">
  <ion-toolbar>
    <ion-title>Riconoscimenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ff7-content">
  <ion-card class="ff7-card">
    <ion-card-header>
      <ion-card-title>Autore</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Questa app è stata sviluppata da <strong>Alessandro "Nakama" Panico</strong>.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="ff7-card">
    <ion-card-header>
      <ion-card-title>Seguimi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="ff7-item" button detail="false" (click)="openLink('https://alessandropanico.github.io/Sito-Portfolio/')">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          Sito Web
        </ion-item>
        <ion-item class="ff7-item" button detail="false" (click)="openLink('https://github.com/alessandropanico')">
          <ion-icon name="logo-github" slot="start"></ion-icon>
          GitHub
        </ion-item>
        <ion-item class="ff7-item" button detail="false" (click)="openLink('https://www.linkedin.com/in/alessandro-panico-4b974b272/')">
          <ion-icon name="logo-linkedin" slot="start"></ion-icon>
          LinkedIn
        </ion-item>
        <ion-item class="ff7-item" button detail="false" (click)="openLink('https://www.youtube.com/channel/UC8rQxh_mjGtKiBQJkixhYGQ')">
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          YouTube
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

<ion-card class="ff7-card">
    <ion-card-header>
      <ion-card-title>Sostienimi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Se ti piace questa app e vuoi supportare il mio lavoro, puoi guardare un breve video pubblicitario. Ogni visualizzazione è un grande aiuto!</p>
      <ion-button expand="block"
                  class="support-button"
                  [disabled]="isCooldownActive || isAdLoading"
                  (click)="showRewardedAd()">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        <span *ngIf="!isCooldownActive && !isAdLoading">Guarda un video per sostenermi</span>
        <span *ngIf="isAdLoading">Caricamento in corso...</span>
        <span *ngIf="isCooldownActive">Riprova tra {{ cooldownTimeLeft }}s</span>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
