<ion-content>
<section class="sfondo">
  <div class="container">
    <div class="titolo">Fotocamera</div>

    <!-- Bottone per avviare la fotocamera -->
    <button *ngIf="!previewActive" class="btn btn-primary" (click)="startCamera()">Apri Fotocamera</button>

    <!-- Area della fotocamera (anteprima) -->
    <div class="camera-preview mt-3" *ngIf="previewActive">
      <video #video autoplay class="border rounded"></video>
      <div class="mt-2">
        <button class="btn btn-success" (click)="takePhoto()">Scatta Foto</button>
        <button class="btn btn-danger" (click)="stopCamera()">Chiudi Fotocamera</button>
      </div>
    </div>

    <!-- Bottone per andare alla galleria -->
    <div class="mt-3">
      <a routerLink="/galleria" class="btn btn-info">Vai alla Galleria</a>
    </div>

    <div class="mt-3">
      <div class="text" [innerHTML]="text"></div>
    </div>

  </div>
</section>
</ion-content>
