

<ion-content>
  <div class="d-flex justify-content-center">
    <h1>CAMERA</h1>
  </div>

  <!-- Message for no photos -->
  <div *ngIf="photos.length === 0" class="ion-padding">
    <p>No photos available.</p>
    <ion-button (click)="takePhoto()">Take photo</ion-button>
  </div>

  <!-- Display photos only if there are photos -->
  <div *ngIf="photos.length > 0" class="ion-padding">
    <ion-button (click)="takePhoto()">Take photo</ion-button>

    <ion-card class="photo-grid">
      <ion-card-content>
        <div class="row" *ngFor="let row of getCurrentPageRows()">
          <ion-card *ngFor="let photo of row" class="photo-container" (click)="zoomPhoto(photo.src)">
            <img class="foto" [src]="photo.src" alt="Photo" />
            <p *ngIf="photo.lat && photo.lng">Location: {{ photo.lat }}, {{ photo.lng }}</p>
            <button class="delete-button" (click)="deletePhoto(photo); $event.stopPropagation();">
              <span class="delete-icon">&times;</span>
            </button>
          </ion-card>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Pagination -->
    <div class="pagination">
      <ion-button expand="block" (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
      <ion-button expand="block" *ngFor="let page of paginationRange()" [class.active]="page === currentPage" (click)="changePage(page)">
        {{ page }}
      </ion-button>
      <ion-button expand="block" (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</ion-button>
    </div>
  </div>

  <!-- Overlay for zooming the image -->
  <div class="overlay" *ngIf="zoomedPhoto" (click)="closeZoom()">
    <img [src]="zoomedPhoto" alt="Zoomed Photo" class="zoomed-photo" />
  </div>
</ion-content>
