<div
  class="emoji-badge"
  (click)="togglePicker($event)"
  [class.editable-cursor]="editing"
  [ngClass]="{'visible-badge': editing || status !== ''}"
>
  <span *ngIf="status !== ''; else showRemoveIconInBadge">
    {{ getEmojiByStatus(status) }}
  </span>
  <ng-template #showRemoveIconInBadge>
    <span class="badge-remove-icon">✖</span>
  </ng-template>
</div>

<div class="overlay" *ngIf="editing && showPicker" (click)="closePicker()"></div>

<div class="emoji-picker-inline" *ngIf="editing && showPicker">
  <span
    *ngFor="let option of availableEmojis"
    (click)="selectEmoji(option, $event)"
    class="emoji-option"
  >
    <ng-container *ngIf="option === ''; else showEmojiOption">
      <span class="picker-remove-icon">✖</span>
    </ng-container>
    <ng-template #showEmojiOption>
      {{ getEmojiByStatus(option) }}
    </ng-template>
  </span>
</div>
