<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isSelectionMode">Note</ion-title>
    <ion-title *ngIf="isSelectionMode">{{ selectedNoteIds.size }} selezionate</ion-title>

  <ion-buttons slot="end">
  <ion-button *ngIf="!isSelectionMode" (click)="openCreatePlaylist()">➕ Crea Playlist</ion-button>
  <ion-button *ngIf="!isSelectionMode && selectedPlaylistId !== 'all'" (click)="confirmDeleteCurrentPlaylist()">🗑️ Elimina Playlist</ion-button>

  <ion-button *ngIf="isSelectionMode" (click)="deleteSelectedNotes()">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
  <ion-button *ngIf="isSelectionMode" (click)="cancelSelectionMode()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (click)="onContentClick($event)">
  <!-- Scroll orizzontale per le playlist -->
  <div class="playlist-scroll" appDragScroll>
    <div *ngFor="let playlist of playlists" (click)="selectPlaylist(playlist.id)"
      [class.selected]="playlist.id === selectedPlaylistId">
      {{ playlist.name }}
    </div>
  </div>



  <!-- Griglia note con checkbox se selezione attiva -->
  <div class="note-grid">
    <div class="note-thumbnail" *ngFor="let note of filteredNotes" (click)="onNoteClick(note, $event)"
      (contextmenu)="onNoteRightClick(note, $event)" (press)="onNoteLongPress(note)">

      <ion-checkbox *ngIf="isSelectionMode" [checked]="selectedNoteIds.has(note.id)"
        (ionChange)="toggleNoteSelection(note)">
      </ion-checkbox>

      <h3>{{ note.title }}</h3>
      <p>{{ note.content | slice:0:50 }}{{ note.content.length > 50 ? '...' : '' }}</p>
    </div>
  </div>

  <ion-text color="medium" *ngIf="filteredNotes.length === 0">
    Nessuna nota in questa playlist.
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isSelectionMode">
    <ion-fab-button (click)="openNewNoteModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
