<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" class="ff7-close-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cerca Utenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding search-modal-content">
  <ion-searchbar
    placeholder="Cerca per nickname o nome..."
    (ionInput)="onSearchInput($event)"
    [(ngModel)]="searchQuery"  
    class="ff7-searchbar"
  ></ion-searchbar>

  <div *ngIf="selectedUsers.length > 0" class="selected-users-container">
    <ion-list-header>
      <ion-label>Partecipanti selezionati ({{ selectedUsers.length }})</ion-label>
    </ion-list-header>
    <ion-chip *ngFor="let user of selectedUsers" outline color="primary" class="selected-user-chip">
      <ion-avatar>
        <img [src]="user.photo || 'assets/immaginiGenerali/default-avatar.jpg'">
      </ion-avatar>
      <ion-label>{{ user.nickname }}</ion-label>
      <ion-icon name="close" (click)="removeSelectedUser(user.uid)"></ion-icon>
    </ion-chip>
    <ion-button expand="block" class="create-group-button" (click)="createGroup()">
      Crea Gruppo
    </ion-button>
  </div>

  <ion-list *ngIf="!isSearchingUsers && searchResults.length > 0">
    <ion-item *ngFor="let user of searchResults" class="ff7-search-result-item" (click)="toggleUserSelection(user)">
      <ion-avatar slot="start">
        <img [src]="user.photo || 'assets/immaginiGenerali/default-avatar.jpg'" alt="Foto Profilo">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.nickname }}</h2>
        <p>{{ user.name }}</p>
      </ion-label>
      <ion-icon slot="end" [name]="isSelected(user.uid) ? 'checkmark-circle' : 'add-circle-outline'"
                [color]="isSelected(user.uid) ? 'success' : 'medium'"></ion-icon>
    </ion-item>
  </ion-list>

  <div *ngIf="isSearchingUsers" class="ion-text-center ion-padding">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p class="search-status-text">Ricerca in corso...</p>
  </div>

  <div *ngIf="!isSearchingUsers && searchPerformed && searchResults.length === 0 && searchQuery.length > 0" class="ion-text-center ion-padding">
    <p class="search-status-text">Nessun utente trovato per "{{ searchQuery }}".</p>
  </div>

  <div *ngIf="!searchPerformed && !isSearchingUsers" class="ion-text-center ion-padding">
    <p class="search-status-text">Inizia a digitare per cercare utenti.</p>
  </div>
</ion-content>
