<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profilo"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff7-title">I miei Follower</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Caricamento follower...</p>
  </div>

  <ion-list *ngIf="!isLoading && users.length > 0" class="ff7-list">
    <ion-item *ngFor="let user of users" class="ff7-list-item">
      <ion-avatar slot="start" (click)="goToUserProfile(user.uid)">
      <img [src]="user.photo || 'assets/immaginiGenerali/default-avatar.jpg'" alt="Avatar Utente" />
      </ion-avatar>
      <ion-label (click)="goToUserProfile(user.uid)">
        <h2>{{ user.nickname }}</h2>
        <p>{{ user.name }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="confirmRemoveFollower(user.uid, user.nickname)">
        Rimuovi
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && users.length === 0" class="ion-padding ion-text-center">
    <p>Nessun follower trovato.</p>
  </div>
</ion-content>
