.sfondo {
  // background-image: url('/assets/immaginiGenerali/sfondo.jpg');
  background-size: cover;
  /* Copre tutto lo schermo senza distorsioni */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.floating-header-btn {
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
