<ion-header>
  <ion-toolbar class="ff7-toolbar">
    <ion-title>Le tue Task</ion-title>

    <ion-buttons slot="end">
      <ion-datetime-button datetime="taskDatePicker" class="ff7-today-btn"></ion-datetime-button>
      <ion-button fill="clear" class="ff7-add-btn" (click)="openTaskModal()">
        ➕ Aggiungi
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="taskDatePicker" presentation="date" [(ngModel)]="selectedCalendarDate"
      (ionChange)="onCalendarDateChange($event)" [highlightedDates]="highlightedDatesConfig" locale="it-IT"
      firstDayOfWeek="1">
    </ion-datetime>

  </ng-template>
</ion-modal>


<ion-content class="ion-padding ff7-content">

  <div *ngIf="isLoadingTasks" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Caricamento task...</p>
  </div>

  <ion-card *ngIf="!isLoadingTasks && tasks.length === 0" class="no-tasks-card">
    <ion-card-header>
      <ion-card-title>Nessuna Task!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Non hai ancora aggiunto nessuna task. Clicca sul pulsante "➕ Aggiungi" per crearne una!
    </ion-card-content>
  </ion-card>

  <section *ngIf="!isLoadingTasks && tasks.length > 0" class="task-section">
    <div class="task-list">

      <div class="cont">
        <div *ngFor="let task of tasks" class="task-item">
          <label class="task-checkbox">
            <input type="checkbox" [checked]="task.completed" (click)="toggleCompletion(task)" />
            <span class="checkmark"></span>
          </label>

          <div class="task-content">
            <div class="task-title" [class.completed]="task.completed">{{ task.name }}</div>
            <p class="task-description">{{ task.description }}</p>
            <p class="task-date"><strong>Scadenza:</strong> {{ formatDateIT(task.dueDate) }}</p>
          </div>

          <button class="ff7-delete-btn" (click)="deleteTask(task)">✖</button>
        </div>
      </div>
    </div>
  </section>
</ion-content>
