<div class="add-comment-container panel-glow-border">
  <div class="comment-header">
    <div class="post-avatar">
      <img [src]="currentUserAvatar" alt="User Avatar" (click)="goToUserProfile(currentUserId!)">
    </div>
    <div class="post-info">
      <span class="post-username" (click)="goToUserProfile(currentUserId!)">{{ currentUserUsername }}</span>
    </div>
  </div>
  <textarea class="app-textarea" placeholder="Aggiungi un commento..." [(ngModel)]="newCommentText"
    (input)="adjustTextareaHeight($event)" rows="1"></textarea>
  <div class="comment-actions">
    <button class="app-button primary-button" (click)="addComment()" [disabled]="!newCommentText.trim() || !currentUserId">
      <span class="icon send-icon icon-in-primary-button"></span> Commenta
    </button>
  </div>
</div>

<div *ngIf="comments.length > 0; else noComments">
  <div *ngFor="let comment of comments" class="comment-card panel-glow-border">
    <div class="comment-header">
      <div class="post-avatar">
        <img [src]="comment.userAvatarUrl || 'assets/immaginiGenerali/default-avatar.jpg'" alt="User Avatar"
          (click)="goToUserProfile(comment.userId)">
      </div>
      <div class="post-info">
        <span class="post-username" (click)="goToUserProfile(comment.userId)">{{ comment.username }}</span>
        <span class="post-time">{{ formatCommentTime(comment.timestamp) }}</span>
      </div>
      <div class="comment-card-actions">
        <button class="post-action-button" [ngClass]="{'liked': currentUserId && comment.likes.includes(currentUserId)}"
          (click)="toggleLikeComment(comment)">
          <span class="icon heart-icon"></span> {{ comment.likes.length }}
        </button>

        <button *ngIf="comment.userId === currentUserId" class="app-button delete-button"
          (click)="presentDeleteCommentAlert(comment.id)">
          <span class="icon delete-icon"></span>
        </button>
      </div>
    </div>
    <div class="comment-content">
      <p class="post-text">{{ comment.text }}</p>
    </div>
  </div>
</div>

<ng-template #noComments>
  <div *ngIf="!isLoadingComments" class="no-posts-message panel-glow-border">
    <p>Ancora nessun commento. Sii il primo a commentare!</p>
  </div>
</ng-template>

<div *ngIf="isLoadingComments" class="loading-indicator panel-glow-border">
  <p>Caricamento commenti... <span class="loading-dots"></span></p>
</div>
