<div class="comment-section-content-wrapper">

  <div *ngIf="isLoadingComments && comments.length === 0" class="loading-full-screen">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Caricamento commenti...</p>
  </div>

  <div class="comments-scroll-container">
    <div *ngIf="comments.length > 0; else noComments" class="comments-list-wrapper">
      <app-comment-item
        *ngFor="let comment of comments"
        [comment]="comment"
        [currentUserId]="currentUserId"
        [nestingLevel]="0"
        [formatCommentTime]="formatCommentTime"
        (toggleLike)="toggleLikeComment($event)"
        (setReply)="setReplyTarget($event)"
        (deleteComment)="handleDeleteComment($event)" (goToProfile)="goToUserProfile($event)">
      </app-comment-item>

      <ion-infinite-scroll (ionInfiniteScroll)="loadMoreComments($event)" [disabled]="!canLoadMoreComments"
        [threshold]="'100px'" position="bottom">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Caricamento altri commenti...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <ng-template #noComments>
      <div *ngIf="!isLoadingComments" class="no-comments-message panel-glow-border">
        <p>Ancora nessun commento. Sii il primo a commentare!</p>
      </div>
    </ng-template>
  </div>

</div>

<div class="comment-input-footer panel-glow-border">
  <div class="comment-input-area">
    <ion-avatar (click)="goToUserProfile(currentUserId!)" class="post-avatar">
      <img [src]="currentUserAvatar" alt="User Avatar">
    </ion-avatar>
    <ion-textarea
      class="app-textarea comment-textarea"
      [placeholder]="replyingToComment ? 'Rispondi a ' + replyingToComment.username + '...' : 'Aggiungi un commento...'"
      rows="1"
      max-rows="5"
      autoGrow="true"
      [(ngModel)]="newCommentText"
      (ionInput)="adjustTextareaHeight($event)"
    ></ion-textarea>
    <ion-button fill="clear" (click)="addCommentOrReply()" [disabled]="!newCommentText.trim() || !currentUserId">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="replyingToComment" class="reply-target-info">
    <span>Rispondi a: <strong>{{ replyingToComment.username }}</strong></span>
    <ion-button fill="clear" size="small" (click)="cancelReply()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>
</div>
