.welcome-message {
  color: white;
  font-family: kiddosy;
  font-size: 8vw;
}

.sfondo {
  // background-image: url('/assets/immaginiGenerali/sfondo.jpg');
  background-size: cover;
  /* Copre tutto lo schermo senza distorsioni */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}


.sectinonTask {
  padding: 1vw;
}

