<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff7-title">Le Tue Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Caricamento chat...</p>
  </div>

  <ion-list *ngIf="!isLoading && conversations.length > 0" class="ff7-list">
    <ion-item *ngFor="let conv of conversations" (click)="openChat(conv.id)" class="ff7-list-item">
      <ion-avatar slot="start">
        <img [src]="conv.otherParticipantPhoto" alt="Foto Profilo">
      </ion-avatar>
      <ion-label>
        <h2>{{ conv.otherParticipantName }}</h2>
        <p>
          {{ getDisplayLastMessage(conv) | slice:0:40 }}{{ conv.lastMessage && conv.lastMessage.length > 40 ? '...' : '' }}
        </p>
      </ion-label>
      <ion-note slot="end">
        {{ conv.displayLastMessageAt }}
        <ion-badge color="danger" class="unread-count-badge" *ngIf="conv.unreadMessageCount && conv.unreadMessageCount > 0">
            {{ conv.unreadMessageCount > 99 ? '99+' : conv.unreadMessageCount }}
        </ion-badge>
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && conversations.length === 0" class="ion-text-center ion-padding">
    <ion-icon name="chatbubbles-outline" size="large" color="medium"></ion-icon>
    <p>Non hai ancora conversazioni attive.</p>
    <ion-button routerLink="/cerca-utenti" shape="round">Inizia una nuova chat</ion-button>
  </div>
</ion-content>
