<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Le Tue Chat</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSelectionMode()">
        <ion-icon slot="icon-only" [name]="isSelectionMode ? 'close-outline' : 'create-outline'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isSelectionMode && selectedConversations.size > 0" (click)="deleteSelectedConversations()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isSelectionMode" (click)="openSearchUserModal()">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Caricamento chat...</p>
  </div>

  <ion-list *ngIf="!isLoading" class="ff7-list">
    <div *ngIf="chatListItems.length === 0" class="ion-text-center ion-padding">
      <ion-icon name="chatbubbles-outline" size="large" color="medium"></ion-icon>
      <p>Non hai ancora conversazioni attive.</p>
      <ion-button routerLink="/lista-utenti" shape="round">Inizia una nuova chat</ion-button>
    </div>

    <ion-item-sliding *ngFor="let item of chatListItems" class="ff7-list-item" #slidingItem>
      <ion-item (click)="isSelectionMode ? toggleConversationSelection(item.id) : openChat(item)"
        [class.selected-item]="isConversationSelected(item.id)">
        <ion-checkbox slot="start" [checked]="isConversationSelected(item.id)" *ngIf="isSelectionMode"
          (ionChange)="toggleConversationSelection(item.id); $event.stopPropagation()"></ion-checkbox>

        <div class="avatar-wrapper" slot="start" *ngIf="!isSelectionMode">
          <ion-avatar>
            <img [src]="item.displayPhoto" alt="Foto Chat">
          </ion-avatar>
          <div *ngIf="item.type === 'private'" class="online-status-indicator"
            [class.online]="item.otherParticipantIsOnline" [class.offline]="!item.otherParticipantIsOnline"></div>
        </div>

        <ion-label>
          <div class="name-and-status">
            <h2>{{ item.displayName }}</h2>
            <span *ngIf="item.type === 'private'" class="online-status-text"
              [class.online-text]="item.otherParticipantIsOnline" [class.offline-text]="!item.otherParticipantIsOnline">
              {{ item.otherParticipantIsOnline ? 'Online' : item.otherParticipantLastOnline }}
            </span>
          </div>
          <p>
            {{ getDisplayLastMessage(item) | slice:0:40 }}{{ item.lastMessage && item.lastMessage.length > 40 ? '...' :
            '' }}
          </p>
        </ion-label>
        <ion-note slot="end">
          {{ item.displayLastMessageAt }}
          <ion-badge color="danger" class="unread-count-badge"
            *ngIf="item.hasUnreadMessages && item.unreadMessageCount && item.unreadMessageCount > 0">
            {{ item.unreadMessageCount > 99 ? '99+' : item.unreadMessageCount }}
          </ion-badge>
        </ion-note>
      </ion-item>

      <ion-item-options side="end" *ngIf="!isSelectionMode">
        <ion-item-option (click)="toggleMuteChat(item); slidingItem.close()"
          [color]="isMuted(item) ? 'success' : 'medium'" *ngIf="item.type === 'private'">
          <ion-icon slot="icon-only" [name]="getMuteIcon(item)"></ion-icon>
          <ion-label>{{ isMuted(item) ? 'Riattiva' : 'Silenzia' }}</ion-label>
        </ion-item-option>

        <ion-item-option color="danger" (click)="deleteConversation(item); slidingItem.close()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>

</ion-content>
