<!-- task.component.html -->
<div class="task-card">
  <div class="contTaskHeader" (click)="openTask()">
    <div class="titoloTask">Aggiungi una Task</div>
    <div class="arrow" [ngClass]="{'open': taskOpen}">▼</div>
  </div>

  <form [ngClass]="{'open': taskOpen}" class="task-form" (ngSubmit)="addTask()">
    <div class="form-group">
      <label for="taskName">Nome Task</label>
      <input id="taskName" type="text" name="taskName" [(ngModel)]="newTask.name" />
    </div>

    <div class="form-group">
      <label for="taskDescription">Descrizione</label>
      <textarea id="taskDescription" name="taskDescription" [(ngModel)]="newTask.description"></textarea>
    </div>

    <div class="form-group">
      <label for="taskDueDate">Data Scadenza</label>
      <input id="taskDueDate" type="date" name="taskDueDate" [(ngModel)]="newTask.dueDate" />
    </div>

    <div class="contButton">
    <button type="submit">Aggiungi</button>
    <a class="buttonTask" [routerLink]="['/list-task']">Visualizza Task</a>
    </div>

    <div class="mess" [innerHTML]="messageSuccess"></div>

  </form>
</div>
