<ion-header>
  <ion-toolbar *ngIf="isSelectionMode">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSelectionMode()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ selectedMessages.size }} selezionato{{ selectedMessages.size === 1 ? '' : 'i' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteSelectedMessages()" [disabled]="selectedMessages.size === 0">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="!isSelectionMode">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-list"></ion-back-button>
    </ion-buttons>

    <div class="chat-custom-header" *ngIf="!isLoading && groupDetails" (click)="presentGroupInfoModal()">
      <ion-avatar class="other-user-avatar">
        <img [src]="groupDetails.photoUrl || 'assets/immaginiGenerali/group-default-avatar.jpg'" alt="Immagine gruppo">
      </ion-avatar>
      <span class="username">{{ groupDetails.name || 'Gruppo' }}</span>
    </div>

    <ion-title *ngIf="isLoading || !groupDetails" class="chat-title-placeholder"></ion-title>

    <ion-buttons slot="end" *ngIf="groupDetails">
      <ion-button id="group-menu-trigger">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>

      <ion-popover trigger="group-menu-trigger" side="bottom" alignment="end">
        <ng-template>
          <ion-list>
            <ion-item button (click)="presentGroupInfoModal(); dismissPopover($event)">
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
              <ion-label>Info gruppo</ion-label>
            </ion-item>
            <ion-item button (click)="toggleSelectionMode(); dismissPopover($event)">
              <ion-icon name="trash-outline" slot="start"></ion-icon>
              <ion-label>Elimina messaggi</ion-label>
            </ion-item>
            <ion-item button (click)="confirmDeleteGroup(); dismissPopover($event)" *ngIf="isGroupCreator">
              <ion-icon name="alert-circle-outline" slot="start" color="danger"></ion-icon>
              <ion-label color="danger">Elimina Gruppo</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #content class="chat-page-content" [scrollEvents]="true">
  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Caricamento chat...</p>
  </div>

  <div *ngIf="!isLoading" class="message-container">
    <ion-infinite-scroll (ionInfinite)="loadMoreMessages($event)" threshold="100px" position="top"
      [disabled]="!hasMoreMessages">
      <ion-infinite-scroll-content loadingSpinner="crescent"
        loadingText="Caricando messaggi precedenti..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ng-container *ngFor="let message of messages; let i = index">
      <div *ngIf="shouldShowDate(message, i)" class="date-divider">
        <span>{{ formatDateHeader(message.timestamp) }}</span>
      </div>

      <div [class.my-message]="isMyMessage(message.senderId)"
        [class.other-message]="!isMyMessage(message.senderId) && !isSystemMessage(message.senderId)"
        [class.system-message]="isSystemMessage(message.senderId)" class="chat-bubble"
        (click)="isMyMessage(message.senderId) && isSelectionMode ? selectMessage(message) : null"
        [class.selected-message]="isSelectionMode && selectedMessages.has(message.messageId!)">

        <div *ngIf="!isMyMessage(message.senderId) && getMemberDisplay(message.senderId) !== 'Sistema'"
          class="sender-name">
          {{ getMemberDisplay(message.senderId) }}
        </div>
        <p class="message-text">{{ message.text }}</p>
        <span class="message-timestamp">{{ message.timestamp.toDate() | date:'shortTime' }}</span>
      </div>
    </ng-container>
  </div>

  <ion-footer class="ion-no-border">
    <ion-toolbar *ngIf="!isSelectionMode">
      <ion-item class="message-input-item">
        <ion-input placeholder="Scrivi un messaggio..." [(ngModel)]="newMessageText" (keyup.enter)="sendMessage()"
          class="ff7-input"></ion-input>
        <ion-button slot="end" (click)="sendMessage()" [disabled]="!newMessageText.trim()"
          class="ff7-button send-button">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showScrollToBottom">
    <ion-fab-button (click)="scrollToBottom()">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal #groupInfoModal [isOpen]="isModalOpen" (willDismiss)="onModalDismiss()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Dettagli Gruppo</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="groupInfoModal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div *ngIf="groupDetails">
        <div class="group-photo-container">
          <img [src]="photoToDisplay" alt="Immagine gruppo" class="group-photo-editable" (click)="changeGroupPhoto()">
        </div>

        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Nome Gruppo</ion-label>
            <ion-input [(ngModel)]="editableName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descrizione</ion-label>
            <ion-textarea [(ngModel)]="editableDescription" auto-grow></ion-textarea>
          </ion-item>
        </ion-list>

        <ion-list lines="inset">
          <ion-list-header>
            <ion-label>Membri ({{ groupMembers.length }})</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let member of groupMembers" (click)="goToProfile(member.uid)">
            <ion-avatar slot="start">
              <img [src]="member.photoUrl" [alt]="member.nickname">
            </ion-avatar>
            <ion-label>
              {{ member.nickname }}
              <ion-text *ngIf="member.uid === currentUserId" color="medium">
                <p>(Tu)</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-button expand="block" color="tertiary" class="ion-margin-top ff7-button" (click)="openAddMembersModal()">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Aggiungi Membri
        </ion-button>

        <ion-button expand="block" color="danger" class="ion-margin-top ff7-button" (click)="confirmDeleteGroup()" *ngIf="isGroupCreator">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Elimina Gruppo
        </ion-button>

        <ion-button expand="block" color="danger" class="ion-margin-top ff7-button" (click)="confirmLeaveGroup()" *ngIf="!isGroupCreator">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Abbandona Gruppo
        </ion-button>

        <ion-button expand="block" color="primary" class="ion-margin-top ff7-button2" (click)="saveGroupDetails()">
          <ion-icon name="save-outline" slot="start"></ion-icon>
          Salva modifiche
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
