<ion-header class="ff7-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notizia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ff7-content">
  <div *ngIf="notizia" class="post-card panel-glow-border">
    <div class="post-header">
      <div class="post-avatar" (click)="goToUserProfile(notizia.userId)">
        <img [src]="getUserPhoto(notizia.userAvatarUrl)" alt="User Avatar">
      </div>
      <div class="post-info">
        <span class="post-username" (click)="goToUserProfile(notizia.userId)">{{ notizia.username }}</span>
        <span class="post-time">{{ formatPostTime(notizia.timestamp) }}</span>
      </div>
    </div>

    <div class="post-content">
      <p class="post-text">{{ notizia.titolo }}</p>
      <img *ngIf="notizia.immagineUrl" [src]="notizia.immagineUrl" alt="Immagine della notizia" class="post-image">
      <p class="post-text">{{ notizia.text }}</p>
    </div>

    </div>

  <div *ngIf="!notizia" class="no-posts-message panel-glow-border">
    <p>Notizia non trovata.</p>
  </div>
</ion-content>
