<ion-header class="ff7-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notizia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ff7-content">
  <div *ngIf="isLoadingPost">
    <p>Caricamento in corso...</p>
  </div>

  <div *ngIf="notizia">
    <h1>Titolo del Post: {{ notizia.username }}</h1>
    <p>Testo del Post: {{ notizia.text }}</p>
    <p>ID del Post: {{ notizia.id }}</p>
  </div>

  <div *ngIf="!isLoadingPost && !notizia">
    <p>Nessun post trovato.</p>
  </div>
</ion-content>
