<ion-header class="ff7-header">
  <ion-toolbar>
    <ion-title>Notifiche</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ff7-content">
  <div *ngIf="isLoading" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <ion-list lines="full">
      <ion-item *ngFor="let notifica of notifiche" [class.notifica-letta]="notifica.letta"
        [class.notifica-non-letta]="!notifica.letta" (click)="handleNotificationClick(notifica)">
        <ion-avatar slot="start">
          <img [src]="notifica.creatorAvatarUrl || 'assets/immaginiGenerali/user-default-avatar.png'"
            [alt]="'Avatar di ' + notifica.creatorUsername" />
        </ion-avatar>

        <ion-label>
          <ng-container [ngSwitch]="notifica.tipo">
            <p *ngSwitchCase="'mi_piace'">
              <strong>{{ notifica.creatorUsername }}</strong> ha messo mi piace al tuo post.
            </p>
            <p *ngSwitchCase="'nuovo_post'">
              <strong>{{ notifica.creatorUsername }}</strong> ha creato un nuovo post.
            </p>
            <p *ngSwitchCase="'menzione_post'">
              <strong>{{ notifica.creatorUsername }}</strong> ti ha menzionato in un post.
            </p>
            <p *ngSwitchCase="'commento'">
              <strong>{{ notifica.creatorUsername }}</strong> ha commentato il tuo post.
            </p>
            <p *ngSwitchCase="'mi_piace_commento'">
              <strong>{{ notifica.creatorUsername }}</strong> ha messo mi piace al tuo commento.
            </p>
            <p *ngSwitchCase="'menzione_commento'">
              <strong>{{ notifica.creatorUsername }}</strong> ti ha menzionato in un commento.
            </p>
            <p *ngSwitchCase="'nuovo_follower'">
              <strong>{{ notifica.creatorUsername }}</strong> ha iniziato a seguirti.
            </p>
            <p *ngSwitchCase="'invito_progetto'">
              <strong>{{ notifica.creatorUsername }}</strong> ti ha invitato a un progetto.
            </p>
            <p *ngSwitchCase="'menzione_chat'">
              <strong>{{ notifica.creatorUsername }}</strong> ti ha menzionato nel gruppo "{{ notifica.groupName }}".
            </p>
            <p *ngSwitchDefault>
              {{ notifica.messaggio }}
            </p>
          </ng-container>

          <p class="timestamp">
            {{ formatNotificationTime(notifica.timestamp) }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <div *ngIf="notifiche.length === 0 && !isLoading" class="no-notifications">
    <p>Nessuna notifica</p>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMoreNotifications($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"
      loadingText="Caricamento notifiche..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
