<ion-header>
  <ion-toolbar class="lis-header">
    <ion-title class="titolo">Le mie sveglie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addAlarm()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="lis-background">
  <ion-list>
    <ion-item *ngFor="let alarm of alarms; let i = index" class="alarm-item">
      <ion-label>
        <h2 (click)="editAlarmTime(i)">{{ alarm.time }}</h2>
        <p *ngIf="alarm.label">{{ alarm.label }}</p>
        <p (click)="editAlarmDays(i)" class="days-text">
          <strong>Giorni:</strong>
          <span *ngFor="let day of daysOfWeek; let idx = index">
            <span *ngIf="alarm.days?.[idx]" class="active-day">{{ day }} </span>
          </span>
        </p>
      </ion-label>

      <ion-toggle [(ngModel)]="alarm.enabled" (ionChange)="toggleAlarm(i)"></ion-toggle>

      <ion-buttons slot="end">
        <ion-button fill="clear" color="warning" (click)="editAlarmTime(i)">
          <ion-icon name="time-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteAlarm(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div class="container">
    <button type="button" class="btn btn-primary" (click)="testAudio()">Test Suono</button>
  </div>

</ion-content>
