<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Follower</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Caricamento follower...</p>
  </div>

  <ion-list *ngIf="!isLoading && followers.length > 0" class="ff7-list">
    <ion-item *ngFor="let follower of followers" class="ff7-list-item">
      <ion-avatar slot="start">
        <img [src]="follower.photo || 'assets/immaginiGenerali/default-avatar.jpg'" alt="Foto profilo">
      </ion-avatar>
      <ion-label>
        <h2>{{ follower.nickname || follower.name || 'Utente sconosciuto' }}</h2>
        <p>{{ follower.name || '' }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" [routerLink]="['/profilo-altri-utenti', follower.uid]">
        Vedi Profilo
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && followers.length === 0" class="ion-padding ion-text-center">
    <p>Nessun follower trovato per questo utente.</p>
  </div>
</ion-content>
