<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profilo Utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding ion-text-center">

  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Caricamento profilo...</p>
  </div>

  <div *ngIf="!isLoading && profileData">
    <div class="profile-banner-container">
      <img [src]="profileData.banner || 'assets/immaginiGenerali/default-banner.jpg'" alt="Banner Profilo"
        class="profile-banner" />
    </div>

    <ion-avatar class="profile-avatar">
      <img [src]="getUserPhoto(profileData.photo)" alt="Foto profilo" />
    </ion-avatar>

    <div class="profile-view">
      <h2>{{ profileData.nickname || 'Nickname non disponibile' }}</h2>
      <h3>{{ profileData.name || 'Nome e Cognome non disponibili' }}</h3>
      <p>{{ profileData.bio || 'Descrizione assente' }}</p>

      <div class="follow-stats-wrapper">
        <div *ngIf="isLoadingStats" class="loading-stats-local-overlay">
          <ion-spinner name="crescent" color="primary"></ion-spinner>
        </div>
        <div class="follow-stats" [class.hidden]="isLoadingStats">
          <div class="stat-item clickable-stat" (click)="goToFollowersList()">
            <strong>{{ targetUserFollowersCount }}</strong>
            <span>Follower</span>
          </div>
          <div class="stat-item clickable-stat" (click)="goToFollowingList()">
            <strong>{{ targetUserFollowingCount }}</strong>
            <span>Seguiti</span>
          </div>
        </div>
      </div>
      <div class="profile-actions">
        <ion-button *ngIf="loggedInUserId && loggedInUserId !== profileData.uid" expand="block"
          [class.follow-button]="!isFollowingUser" [class.unfollow-button]="isFollowingUser" (click)="toggleFollow()">
          {{ isFollowingUser ? 'Non seguire più' : 'Segui' }}
        </ion-button>

        <ion-button *ngIf="loggedInUserId && loggedInUserId !== profileData.uid" expand="block"
          class="ff7-button message-button" (click)="startChat()">
          Messaggia
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && !profileData">
    <p>Impossibile caricare il profilo utente. Potrebbe non esistere o esserci stato un errore.</p>
  </div>

</ion-content>
