<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/profilo-altri-utenti/' + targetUserId"></ion-back-button>
    </ion-buttons>
    <ion-title>Seguiti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Caricamento persone seguite...</p>
  </div>

  <ion-list *ngIf="!isLoading && following.length > 0" class="ff7-list">
    <ion-item *ngFor="let followedUser of following" class="ff7-list-item">
      <ion-avatar slot="start" (click)="goToUserProfile(followedUser.uid)">
        <img [src]="followedUser.photo || 'assets/immaginiGenerali/default-avatar.jpg'" alt="Foto profilo">
      </ion-avatar>
      <ion-label (click)="goToUserProfile(followedUser.uid)">
        <h2>{{ followedUser.nickname || followedUser.name || 'Utente sconosciuto' }}</h2>
        <p>{{ followedUser.name || '' }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="goToUserProfile(followedUser.uid)">
        Vedi Profilo
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && following.length === 0" class="ion-padding ion-text-center">
    <p>Nessuna persona seguita trovata per questo utente.</p>
  </div>
</ion-content>
