<ion-header>
  <ion-toolbar>
    <ion-title>Galleria</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <section class="sfondo">

    <!-- Galleria -->
    <div class="container" [class.blur]="previewActive">

      <div *ngIf="photos.length === 0" class="alert alert-info">
        Nessuna foto salvata.
      </div>

      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let photo of photos">
          <div class="card">
            <img [src]="photo.src" class="card-img-top" alt="Foto" (click)="openLightbox(photo.src)" />
            <button class="btn btn-danger" (click)="askDelete(photo)">Elimina</button>
          </div>
        </div>
      </div>

      <!-- Lightbox -->
      <div class="lightbox" *ngIf="lightboxOpen" (click)="closeLightbox()">
        <div class="lightbox-content" (click)="$event.stopPropagation()">
          <button class="arrow left" (click)="prevPhoto($event)">❮</button>
          <img [src]="selectedPhoto" class="lightbox-img" />
          <button class="arrow right" (click)="nextPhoto($event)">❯</button>
          <!-- <button class="close-lightbox" (click)="closeLightbox()">✖</button> -->
        </div>
      </div>


    </div>

    <!-- Camera Preview centrale -->
    <div class="camera-overlay" *ngIf="previewActive">
      <video #video autoplay muted class="camera-preview"></video>
    </div>

    <!-- Barra con pulsante scatto -->
    <div class="camera-bar" *ngIf="previewActive">
      <button class="circle-button neon-border" (click)="takePhoto()">
        <div class="inner-circle"></div>
      </button>
      <button class="close-button neon-text" (click)="stopCamera()">✖</button>
    </div>

    <!-- Pulsante apri fotocamera se non attiva -->
    <div class="camera-launcher" *ngIf="!previewActive">
      <button class="circle-launcher neon-border" (click)="startCamera()">
        <div class="inner-circle"></div>
      </button>
    </div>
  </section>
</ion-content>

<!-- Modale conferma eliminazione -->
<div class="ff7r-modal-overlay" *ngIf="confirmDeletePhoto" (click)="cancelDelete()">
  <div class="ff7r-modal" (click)="$event.stopPropagation()">
    <h3>⚠️ Confermi di eliminare questa foto?</h3>
    <img [src]="confirmDeletePhoto.src" class="preview-img" alt="Foto da eliminare" />
    <div class="modal-buttons">
      <button class="btn confirm-btn neon-btn" (click)="confirmDelete()">Sì, elimina</button>
      <button class="btn cancel-btn neon-btn" (click)="cancelDelete()">Annulla</button>
    </div>
  </div>
</div>
