<section class="sfondo">
  <div class="container">
    <div class="titolo">Galleria Fotografica</div>

    <div *ngIf="photos.length === 0" class="alert alert-info">
      Nessuna foto salvata.
    </div>

    <div class="row">
      <div class="col-md-3 mb-3" *ngFor="let photo of photos">
        <div class="card">
          <img [src]="photo.src" class="card-img-top" alt="Foto">
          <button class="btn btn-danger mt-2" (click)="deletePhoto(photo)">Elimina</button>
        </div>
      </div>
    </div>
  </div>
</section>
