<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>I miei Progetti</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createNewProject()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ff7-content">
  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Caricamento progetti...</p>
  </div>

  <ng-container *ngIf="projects$ | async as projects">
    <ion-list class="ff7-list" *ngIf="!isLoading && projects.length > 0">
      <ion-item-sliding *ngFor="let project of projects" #slidingItem>
        <ion-item (click)="goToProjectDetails(project.id)" class="ff7-list-item">
          <ion-label>
            <div class="project-header">
              <h3>{{ project.name }}</h3>
              <ion-text [color]="getStatusColor(project.status)">
                <p>{{ project.status }}</p>
              </ion-text>
            </div>
            <div class="project-details">
              <p *ngIf="project.dueDate">Scadenza: {{ project.dueDate | date:'dd/MM/yyyy' }}</p>
            </div>
          </ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option (click)="editProject(project, slidingItem)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteProject(project.id, slidingItem)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div *ngIf="!isLoading && projects.length === 0" class="no-projects-message">
      <p>Nessun progetto trovato. <br> Clicca sul pulsante "+" per aggiungerne uno nuovo.</p>
    </div>
  </ng-container>
</ion-content>

<app-progetto-form *ngIf="showModal" [projectToEdit]="projectToEdit" (modalDismissed)="onModalDismiss($event)">
</app-progetto-form>
