<ion-header>
  <ion-toolbar class="ff7-toolbar">
    <ion-title>Nuova Task</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ff7-content">
  <form (ngSubmit)="addTask()" class="task-form">

    <ion-item class="ff7-item">
      <ion-label position="floating">Nome Task</ion-label>
      <ion-input [(ngModel)]="newTask.name" name="taskName" required autocomplete="off"></ion-input>
    </ion-item>

    <ion-item class="ff7-item">
      <ion-label position="floating">Descrizione</ion-label>
      <ion-textarea [(ngModel)]="newTask.description" name="taskDescription"></ion-textarea>
    </ion-item>

   <ion-item class="ff7-item">
  <ion-label position="floating">Data Scadenza</ion-label>
  <ion-datetime
    presentation="date"
    [(ngModel)]="newTask.dueDate"
    name="taskDueDate"
    [min]="minDate"
    preferWheel="false"
  ></ion-datetime>
</ion-item>


    <div class="ff7-button-container">
      <button type="submit" class="ff7-button" [disabled]="!newTask.name.trim() || !newTask.dueDate">
        Aggiungi
      </button>
    </div>

    <ion-text class="ff7-message" *ngIf="messageSuccess" [innerHTML]="messageSuccess"></ion-text>
  </form>
</ion-content>
