<ion-header>
  <ion-toolbar class="ff7-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ note ? 'Modifica Nota' : 'Nuova Nota' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="note" (click)="presentOptions()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-button (click)="save()" [disabled]="!title.trim() && !content.trim() && !audioUrl">
        Salva
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="note-editor-content">
  <ion-input class="note-title" placeholder="Titolo" [(ngModel)]="title" autofocus spellcheck="false"></ion-input>

  <div class="audio-controls">
    <ion-button expand="block" color="medium" (click)="recording ? stopRecording() : startRecording()">
      <ion-icon slot="start" [name]="recording ? 'stop' : 'mic'"></ion-icon>
      {{ recording ? 'Stop Registrazione' : 'Registra Audio' }}
    </ion-button>

    <ion-button *ngIf="audioUrl" expand="block" color="success" (click)="playAudio()">
      ▶️ Ascolta Registrazione
    </ion-button>

    <div class="ff7-audio-preview" *ngIf="audioUrl && audioDuration">
    <div class="ff7-audio-bar" (click)="seekAudio($event)">
  <div class="ff7-audio-progress" [style.width.%]="(currentTime / audioDuration) * 100"></div>
</div>


      <div class="ff7-audio-meta">
        <span>{{ formatDuration(currentTime) }} / {{ formatDuration(audioDuration) }}</span>
        <button class="ff7-audio-play" (click)="togglePlayback()">
          {{ isPlaying ? '⏸️' : '▶️' }}
        </button>
      </div>
    </div>


    <ion-button *ngIf="audioUrl" expand="block" color="danger" (click)="deleteAudio()">
      🗑️ Elimina Audio
    </ion-button>


  </div>

  <textarea class="note-content" placeholder="Scrivi la tua nota..." [(ngModel)]="content"
    spellcheck="false"></textarea>


</ion-content>
